/***************************/
/* HEADER */
/***************************/

.header {
  max-width: 130rem;
  margin: 1.2rem auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Sticky header so fixed height helps */
  height: 9.6rem;
}

.logo {
  padding-top: 4.8rem;
  width: 15%;
  height: auto;
}

/***************************/
/* NAVIGATION */
/***************************/

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
  white-space: nowrap;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;

  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #0e5da3;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 30px;
  color: #fff;
  background-color: #0f67b5;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #041f36;
}

/***************************/
/* HERO SECTION */
/***************************/

.section-hero {
  background-color: #fff;
  padding: 4.8rem 0 4.8rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text-box {
  max-width: 80rem;
}

.hero-description {
  font-size: 2.4rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
  text-align: center;
}

.hero-img {
  width: 100%;
}

.hero-buttons {
  display: flex;
  justify-content: center;
}
